chktex==1.7.6
fortran-language-server==1.12.0
jedi-language-server==0.36.0
jupyterlab-git==0.37.1
jupyterlab-language-pack-de-DE==3.4.post0
jupyterlab_latex==3.1.0
jupyterlab-link-share==0.2.4
jupyterlab-lsp==3.10.1
lfortran==0.14.0
nbconvert==6.5.0
octave_kernel==0.34.2
pymatbridge==0.5.2
r-languageserver==0.3.12
texlab==3.3.2
