chktex
fortran-language-server
jedi-language-server
jupyterlab-git
jupyterlab-language-pack-de-DE
jupyterlab_latex
jupyterlab-link-share
jupyterlab-lsp
lfortran
nbconvert
octave_kernel
pymatbridge
r-languageserver
tensorflow
texlab
